.main-layout {
  .q-header {
    min-height: 89px;
    justify-content: center;
    display: flex;
    .q-toolbar {
      padding-left: 60px;
      padding-right: 24px;
      .header__input__search {
        margin-right: auto;
      }
      .header__btn__alert {
        position: relative;
        sup {
          position: absolute;
          font-size: 10px;
          width: 19px;
          height: 19px;
          line-height: 20px;
          top: 2px;
          left: inherit;
          right: 0;
          background: $orange;
          border-radius: 100%;
        }
      }
      .header__btn__avatar {
        margin-left: 27px;
      }
    }
  }
  .q-item__label--header {
    color: $dark;
    padding: 30px 0 29.21px 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #F0F0F0;
  }
  .q-header--bordered {
    border-color: #F0F0F0;
  }
  .q-drawer--left {
    &.q-drawer--bordered {
      border-color: #F0F0F0;
    }
    .essential-link {
      padding-top: 46.3px;
    }
  }
  
  .q-page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 45px;
  }
}