.my-btn {
  padding: 12px 27.5px;
  .block {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
  }
  &-14 {
    .block {
      font-size: 14px;
      line-height: 14px;
    }
  }
  @media (max-width: 772px) {
    padding: 8.5px 23px;
    min-height: auto;
    .block {
      font-size: 16px;
      line-height: 16px;
    }
    &-14 {
      .block {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}
.my-btn--outline {
  transition: all 0.3s;
  .q-focus-helper {
    display: none;
  }
  &:before {
    transition: all 0.3s;
  }
  &:hover {
    .q-focus-helper {
      opacity: 0 !important;
    }
    &:before {
      border-color: #E5E5E5;
    }
  }
  &:active {
    opacity: 0.3;
  }
}

.btn-effect {
  &:before,
  .q-icon {
    opacity: 0.3;
    transition: all 0.25s;
  }
  &:hover {
    &:before,
    .q-icon {
      opacity: 1;
    }
  }
}