.my-checkbox {
  border-radius: 4px;
  &.flat {
    .q-checkbox__bg {
      border: none;
      background: none;
    }
  }
  .q-checkbox__inner {
    font-size: 32px;
    &:before {
      display: none;
    }
    .q-icon {
      font-size: 14px;
    }
  }

  .q-checkbox__inner--truthy {
  }
}

.sort-number {
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  min-height: 67px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 18px;
  justify-content: center;
  .q-checkbox {
    flex: 1;
    justify-content: center;
    .q-checkbox__inner {
      display: none;
    }
    .q-checkbox__label {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      opacity: 0.15;
      text-transform: uppercase;
    }
    &[aria-checked="true"] {
      .q-checkbox__label {
        opacity: 1;
      }
    }
  }
  @media (max-width: 772px) {
    padding: 15.5px 0px;
    flex-wrap: wrap;
    // justify-content: flex-start;
    .q-checkbox {
      flex: 0 0 12.5%;
      min-width: 25px;
      min-height: 16px;
      margin: 4.5px;
      .q-checkbox__label {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}