.q-dialog__backdrop {
  background: #F5F5F5;
  opacity: 0.95;
  transition: all 0.3s;
}
.my-dialog {
  .q-card {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    max-width: 650px;
    width: 100%;
    padding: 49px 62px 60px 62px;
    .q-card__section,
    .q-card__actions {
      padding: 0;
    }
    .head {
      padding-bottom: 49px;
      padding-bottom: 20px;
      .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: black;
      }
      .close {
        cursor: pointer;
      }
    }
    .form-section {
      margin-top: 28px;
      label {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: black;
        display: block;
        margin-bottom: 20px;
      }
      .hint {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #444444;
        opacity: 0.6;
      }
    }
    .form-section-row {
      display: flex;
      flex-wrap: wrap;
      .form-col {
        &:nth-child(1) {
          flex: 1 1 auto;
          margin-right: 64px;
        }
        &:nth-child(2) {
          flex: 0 0 140px;
        }
        &:nth-child(3) {
          flex: 0 0 100%;
        }
      }
      .form-col-hint .hint{
        margin-left: 20px;
        margin-top: 8px;
      }
    }
    .q-btn-actions {
      border-radius: 10px;
      margin-top: 60px;
      .block {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
.active {
  background: green;
}
.q-tooltip {
  z-index: 10000000000000000000000000000000000000000000000000;
}