.q-dialog__backdrop {
  background: #F5F5F5;
  opacity: 0.95;
  transition: all 0.3s;
}

.my-dialog {
  .q-card {
    background: rgba(0, 0, 0, 0);
    position: relative;
    box-shadow: none;
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;

    &::-webkit-scrollbar {
      width: 0;
    }
    .q-card-background {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .dialog-section {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-sizing: border-box;
      box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
      border-radius: 30px;
      max-width: 650px;
      width: 100%;
      padding: 49px 62px 60px 62px;
      position: relative;
      z-index: 3;
      height: max-content;
    }
    .q-card__section,
    .q-card__actions {
      padding: 0;
    }
    .head {
      padding-bottom: 49px;
      padding-bottom: 20px;
      .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: black;
      }
      .close {
        cursor: pointer;
      }
    }
    .form-section {
      margin-top: 28px;
      .lable-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: black;
        display: block;
        margin-bottom: 20px;
      }
      .hint {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #444444;
        opacity: 0.6;
      }
    }
    .form-section-row {
      display: flex;
      flex-wrap: wrap;
      .form-col {
        &:nth-child(1) {
          flex: 1 1 auto;
          margin-right: 64px;
        }
        &:nth-child(2) {
          flex: 0 0 140px;
        }
        &:nth-child(3) {
          flex: 0 0 100%;
        }
      }
      .form-col-hint .hint{
        margin-left: 20px;
        margin-top: 8px;
      }
    }
    .form-section-row-2 {
      display: flex;
      flex-wrap: wrap;
      .form-col {
        &:nth-child(1) {
          flex: 1 1 calc(100% - 92px);
          margin-right: 22px;
        }
        &:nth-child(2) {
          flex: 0 0 60px;
          max-width: 60px;
          .my-checkbox {
            width: 60px;
            border-radius: 10px;
            height: 60px;
            transition: all 0.3s;
            .q-checkbox__icon-container {
              transition: all 0.3s;
            }
            .q-checkbox__inner {
              width: 100%;
            }

            .q-checkbox__inner--falsy {
              .q-icon {
                font-size: 12px;
                opacity: 0.3;
              }
            }
            .q-checkbox__inner--truthy {
              .q-icon {
                font-size: 22px;
              }
            }
            &[aria-checked="false"] {
              &:hover {
                background: #ECECEC !important;
              }
              &:active {
                .q-checkbox__icon-container {
                  opacity: 0.3 !important;
                }
              }
            }
            &[aria-checked="true"] {
              background: rgba(0, 0, 0, 0) !important;
              border: 1px solid #F0F0F0;
              position: relative;
              &:after {
                content: '';
                z-index: 5;
                width: 22px;
                height: 11px;
                position: absolute;
                bottom: -58px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-image: url(../assets/triangle-dopinfo.svg);
                background-size: 22px 11px;
                background-repeat: no-repeat;
              }
              &:hover {
                border: 1px solid #DDDDDD;
                .q-checkbox__icon-container {
                  transform: rotate(180deg);
                }
              }
              &:active {
                .q-checkbox__icon-container {
                  opacity: 0.3 !important;
                }
              }
            }
          }
        }
      }
    }
    .q-btn-actions {
      border-radius: 10px;
      margin-top: 60px;
      .block {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  @media (max-width: 772px) {
    .q-card {
      padding-left: 15px;
      padding-right: 15px;
      .dialog-section {
        border-radius: 15px;
        padding: 22px 0 20px 0;
      }
      .q-card__section {
        padding: 0 18px 0 20px;
      }
      .head {
        padding-bottom: 49px;
        padding-bottom: 3px;
        align-items: flex-start;
        flex-wrap: nowrap;
        .title {
          font-size: 27px;
          line-height: 27px;
          flex: 1 1 100%;
        }
        .close {
          cursor: pointer;
          margin-top: 7px;
          flex: 0 0 14px;
          margin-left: 25px;
        }
      }
      .form-section {
        margin-top: 19px;
        .lable-title {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 12px;
        }
        .q-field {
          margin-bottom: 0 !important;
        }
        .hint {
          font-size: 14px;
          line-height: 14px;
        }
      }
      .form-section-row {
        display: flex;
        flex-wrap: wrap;
        .form-col {
          &:nth-child(1) {
            flex: 1 1 100%;
            margin-right: 0;
          }
          &:nth-child(2) {
            flex: 0 0 100px;
            .lable-title {
              margin-top: 19px;
            }
            .q-field {
              margin-bottom: 0;
            }
          }
          &:nth-child(3) {
            flex: 1 1 100%;
          }
          .q-field {
            margin-bottom: 19px;
          }
        }
        .form-col-hint {
          max-width: 140px;
          margin-top: auto;
          margin-bottom: 5px;
          .hint{
            margin-left: 20px;
            margin-top: 8px;
          }
        }
      }
      .q-card__actions {
        border-top: 1px solid $grey-3;
        margin-top: 19px;
        position: relative;
        padding: 0 18px 0 20px;
        .q-btn-actions {
          border-radius: 10px;
          margin-top: 21px;
          padding: 13px 10px !important;
          .block {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
    
  }
}

.projects-dialog {
  .q-card {
    .form-section-row {
      display: flex;
      flex-wrap: wrap;
      .form-col {
        &:nth-child(1) {
          flex: 0 0 140px;
          margin-right: 0;
        }
        &:nth-child(2) {
          flex: 1 1 calc(100% - 204px);
          padding-left: 64px;
        }
      }
    }
  }
  .dialog-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .q-card__section,
    .q-card__actions {
      padding-left: 62px;
      padding-right: 62px;
    }
    .q-card__actions {
      margin-top: 56px;
      padding-top: 52px;
      border-top: 1px solid #F0F0F0;
      justify-content: flex-start;
      flex-direction: column;
      .text-subtitle1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        width: 100%;
      }
      .q-list-options {
        width: 100%;
        padding-top: 34px;
        .q-item {
          padding: 0;
          min-height: auto;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          .name-field {
            font-size: 18px;
            line-height: 18px;
            color: $grey-5;
            margin-left: 22px;
          }
          .circle-warning {
            margin-left: 10px;
            width: 15px;
            height: 15px;
            background: $grey-7;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.25s;
            .q-ripple {
              display: none;
            }
            &:hover {
              background: $positive;
              .q-icon {
                color: white !important;
                svg {
                  color: white !important;
                }
              }
            }
          }
        }
      }
      .q-btn-actions {
        margin-top:50px;
      }
    }
    .q-card-actions-add-customer {
      padding-top: 44px;
      .q-card__section {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        &:first-child {
          margin-top: 0;
        }
        &.form-section-social {
          margin-top: 10px;
        }
        &.form-section-whatsapp {
          margin-top: 55px;
        }
      }
    }
    .form-section-upload {
      display: flex;
      align-items: center;
      position: relative;
      .lable-title {
        @media (min-width: 772px) {
          display: none;
        }
      }
      .my-textarea {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        textarea {
          padding-right: 136px;
        }
        &.q-field--focused + .my-file-upload {
          .q-uploader {
            background: white;
          }
        }
      }
      .my-file-upload {
        width: 136px;
        border-left: 1px solid #e5e5e5;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 2;
        border-radius: 0 11px 11px 0;
        .q-uploader {
          width: 100%;
          height: 136px;
        }
      }
    }
  }
  @media (max-width: 772px) {
    .q-card {
      .form-section-row {
        display: flex;
        flex-wrap: wrap;
        .form-col {
          &:nth-child(1) {
            flex: 0 0 100%;
            margin-right: 0;
          }
          &:nth-child(2) {
            flex: 1 1 100%;
            padding-left: 0;
          }
        }
      }
      
      .form-section-row-2 {
        .form-col {
          &:nth-child(1) {
            flex: 1 1 calc(100% - 51px);
            max-width: calc(100% - 51px);
            margin-right: 10px;
          }
          &:nth-child(2) {
            flex: 0 0 40px;
            max-width: 40px;
            .my-checkbox {
              width: 40px;
              border-radius: 6px;
              height: 40px; 
              &[aria-checked="true"] {
                &:after {
                  bottom: -23px;
                }
              }
            }
          }
        }
      }
    }
    .dialog-section {
      .q-card__section,
      .q-card__actions {
        padding-left: 20px;
        padding-right: 20px;
      }
      .q-card__actions {
        margin-top: 20px;
        padding-top: 18px;
        position: relative;
        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   bottom: 63px;
        //   width: 100%;
        //   height: 1px;
        //   background: $grey-3;
        // }
        .text-subtitle1 {
          font-size: 16px;
          line-height: 16px;
        }
        .q-list-options {
          width: 100%;
          padding-top: 19px;
          padding-bottom: 7px;
          .q-item {
            padding: 0;
            min-height: auto;
            margin-bottom: 13px;
            .my-checkbox {
              .q-checkbox__inner {
                font-size: 24px;
                .q-icon {
                  font-size: 10px;
                }
              }
            }
            .name-field {
              font-size: 16px;
              line-height: 16px;
              margin-left: 12px;
            }
          }
        }
        .q-btn-actions {
          margin-top: 21px;
        }
      }
      .q-card-actions-add-customer {
        padding-top: 18px;
        .q-card__section {
          &.form-section-whatsapp {
            margin-top: 19px;
            img {
              width: 18px;
              margin-right: 12px;
            }
          }
          &.form-section-social {
            img {
              width: 18px;
              margin-right: 12px;
            }
          }
        }
      }
      
      .form-section-upload {
        flex-wrap: wrap;
        .lable-title {
          margin-top: 19px;
        }
        .my-textarea {
          flex: 0 0 100%;
          max-width: 100%;
          border-radius: 6px;
          &.q-field--focused + .my-file-upload {
            .q-uploader {
              background: #ECECEC;
            }
          }
          textarea {
            padding-right: 0;
          }
        }
        .my-file-upload {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          border: none;
          overflow: visible;
          .q-uploader {
            width: 125px;
            height: 125px;
            border-radius: 6px;
            .q-uploader__header {
              .q-uploader__header-content {
                .q-btn {
                  &:before {
                    margin-top: 30px;
                  }
                  &:after {
                    top: 68px;
                  }
                }
              }
            }
            .q-uploader__list {
              min-height: 125px;
              .q-uploader__file {
                height: 125px;
              }
            }
          }
        }
      }
    }
  }
}

.projects-dialog-create {
  .form-section-dropdown-1 {
    margin-top: 60px;
    border-top: 1px solid #F0F0F0;
  }
  .form-section-dropdown {
    border-bottom: 1px solid #F0F0F0;
    .q-separator {
      visibility: hidden;
    }
    .q-item {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 37px;
      padding-bottom: 34px;
      .q-focus-helper {
        opacity: 0;
        visibility: hidden;
      }
      .q-item__label {
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        color: black;
      }
    }
    .q-expansion-item__content {
      .q-card {
        padding: 0;
        flex-direction: column;
        padding-bottom: 20px;
        .q-card__section {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          .desc {
            .title {
              font-weight: 500;
              font-size: 18px;
              line-height: 18px;
              color: black;
            }
            .q-select {
              .q-select__dropdown-icon {
                font-size: 10px;
              }
            }
            .q-select {
              * {
                min-height: auto !important;
                height: auto !important;
              }
            }
            &-disactive {
              .title,
              .q-select {
                opacity: 0.3;
              }
            }
          }
          .toggle-mini {
            position: relative;
            top: 4px;
          }
        }
        
      }
    }
  }
  .form-section-btn {
    margin-top: 60px !important;
    .q-btn {
      width: 100%;
      box-shadow: 0px 7px 20px rgba(115, 201, 73, 0.3);
      border-radius: 10px;
      min-height: 60px;
    }
  }
}

@media (max-width: 772px) {
  .projects-dialog-create {
    .form-section-dropdown-1 {
      margin-top: 29px;
    }
    .form-section-dropdown {
      .q-item {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 14px;
        padding-bottom: 15px;
        .q-item__label {
          font-size: 18px;
          line-height: 18px;
        }
      }
      .q-expansion-item__content {
        .q-card {
          padding: 0;
          flex-direction: column;
          padding-bottom: 10px;
          padding-top: 10px;
          .q-card__section {
            margin-bottom: 10px;
            .desc {
              .title {
                font-size: 16px;
                line-height: 16px;
              }
              .info {
                font-size: 12px;
                line-height: 12px;
                margin-top: 5px;
              }
              .q-select {
                .q-field__native {
                  span {
                    font-size: 12px;
                    line-height: 12px;
                  }
                }
                .q-field__control {
                  flex-direction: row-reverse;
                  align-items: flex-start;
                  .q-field__append {
                    padding-left: 0;
                    padding-right: 4px;
                    padding-top: 7px;
                  }
                }
              }
            }
            
          }
          
        }
      }
      
    }

    
    .form-section-btn {
      margin-top: 20px !important;
      .q-btn {
        border-radius: 6px;
        min-height: 43px;
      }
    }
  }
  
}

.tooltip-project {
  position: relative;
  overflow: visible !important;
  background: $grey-6;
  box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
  width: 100%;
  max-width: 429px !important;
  transform: translateY(10px);
  .q-virtual-scroll__content {
    padding: 24px 17px 3px 22px;
    .q-item {
      min-height: auto;
      padding: 0;
      margin-bottom: 17px;
      .q-focus-helper {
        display: none;
      }
      .q-item__label {
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 15px;
        transition: all 0.3s;
      }
      &:hover {
        .q-item__label {
          color: $positive;
        }
      }
    }
  }
  &:after,
  &:before {
    top: -20px;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: $grey-6;
    border-width: 10px;
    margin-left: -10px;
  }
  @media (max-width: 772px) {
    &:before,
    &:after {
      display: none;
    }
    background: #333333;
    border-radius: 0;
    top: inherit !important;
    bottom: 0;
    min-width: 100% !important;
    left: 0 !important;
    padding: 31px 35px;
    padding-bottom: 90px;
    .q-virtual-scroll__content {
      padding: 0;
      .q-item {
        min-height: auto;
        padding: 0;
        margin-bottom: 16px;
        .q-focus-helper {
          display: none;
        }
        .q-item__label {
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
        }
        &:hover {
          .q-item__label {
            color: $positive;
          }
        }
      }
    }
  }
}
// 

.contractor-dialog-share,
.contractor-dialog-status {
  .dialog-section {
    .q-card__actions {
      .q-btn-actions {
        margin-top: 50px;
      }    
    }
    @media (max-width: 772px) {
      .q-card__actions {
        .q-btn-actions {
          margin-top: 21px;
        }    
      }
    }
  }
}
.contractor-dialog-status {
  .head-section {
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
    padding-bottom: 14px !important;
    padding-top: 16px !important;
    align-items: center;
    .lable-title {
      margin: 0 !important;
    }
    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      margin-left: auto;
      margin-right: 8px;
    }
  }
}

.active {
  background: green;
}
// .q-tooltip {
//   z-index: 10000000000000000000000000000000000000000000000000;
// }