
.q-field.q-input {
  .q-field__control {
    height: 60px;
  }
  .q-field__after {
    color: rgba(0, 0, 0, 1);
  }
  @media (max-width: 772px) {
    .q-field__control {
      height: 40px;
    }
    .q-field__after {
      height: 36px;
      color: rgba(0, 0, 0, 1);
      div {
        margin-right: 10px;
        padding-right: 0;
      }
    }
  }
}

.q-input.header__input__search {
  .q-field__control {
    height: auto ;
    &:before {
      border-color: rgba(0,0,0,0);
    }
    &:hover:before {
      border-color: currentColor;
    }
  }
  .q-field__marginal {
    height: auto;
  }
}

.my-input {
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $grey-5;
  opacity: 1;
  border: 2px solid $grey-3;
  height: 60px;
  transition: all 0.25s;
  input {
    height: 58px;
    color: $grey-5 !important;
  }
  &:hover {
    background: #ECECEC !important;
  }
  &.q-field--focused {
    border: 2px solid #444444;
    background: #fff !important;
  }
  .q-field__control {
    padding-left: 19px;
    padding-right: 23px;
    &:before,
    &:after {
      display: none;
    }
  }
  .q-icon {
    cursor: pointer;
  }
  .q-field__marginal {
    .q-icon {
      transition: all 0.3s;
      opacity: 0.3;
      &:hover {
        opacity: 0.6;     
      }
      &:active {
        opacity: 0.1;     
      }
    }
  }
}
.my-textarea {
  border-radius: 10px;
  opacity: 1;
  border: 2px solid $grey-3;
  height: 140px;
  transition: all 0.25s;
  textarea {
    color: $grey-5 !important;
    resize: none !important;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }
  &:hover {
    background: #ECECEC !important;
  }
  &.q-field--focused {
    border: 2px solid #444444;
    background: #fff !important;
  }
  .q-field__control {
    padding-left: 19px;
    padding-right: 23px;
    background: rgba(0,0,0,0);
    &:before,
    &:after {
      display: none;
    }
  }
}

.my-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $grey-5;
  border-radius: 10px;
  transition: none;
  height: 60px;
  &:hover {
    // background: #ECECEC;
    .q-field__control {
      background: rgba(0, 0, 0, 0.065);
    }
  }
  
  .q-field__label {
    opacity: 0.6;
  }
  .q-field__marginal {
    min-height: 60px;
  }
  .q-select__dropdown-icon {
    font-size: 11px;
  }
  .q-field__control {
    padding-left: 19px;
    padding-right: 23px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    min-height: 60px;
    transition: all 0.25s;
    border: 1px solid #fff;
    &:before,
    &:after {
      display: none;
    }
    .q-field__append {
      .clear-input {
        font-size: 13px;
        margin-right: 16px;
      }
    }
    .q-field__prepend,
    .q-field__append,
    .q-field__prepend {
      .search-input,
      .clear-input {
        opacity: 0;
        display: none;
      }
    }
    .q-field__prepend {
      display: none;
    }
    .q-field__control-container,
    .q-field__control-container .q-field__native {
      padding: 0;
    }
    .q-field__control-container {
      span {
        flex: 1 1 320px;
        max-width: 320px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .ellipsis {
      font-weight: 400;
      font-size: 23px;
      line-height: 23px;
      color: $grey-5;
      opacity: 0.6;
      top: 30px;
      height: max-content;
      z-index: 2;
      margin: auto 0;
    }
  }
  &.q-field--focused {
    opacity: 1;
    box-shadow: 0px 6px 15px rgba(51, 51, 51, 0.2);
    .q-field__control-container {
      span {
        flex: 1 1 0;
      }
    }
    .q-field__control {
      border-radius: 10px 10px 0 0;
      background: #FFFFFF;
      border: 1px solid #D4D4D4;
      .ellipsis {
        display: none;
      }
    }
    .q-field__prepend,
    .q-field__append {
      .search-input,
      .clear-input {
        opacity: 1;
        display: inherit;
      }
    }
    .q-field__prepend {
      display: inherit;
    }
  }
}
.my-select-menu,
.my-dopbox-menu {
  box-shadow: 0px 6px 15px rgba(51, 51, 51, 0.2);
  border-radius: 0 0 10px 10px;
  border: 1px solid #D4D4D4;
  border-top: none;
  transition: none;
  .q-item {
    border-bottom: 1px solid #D4D4D4;
    min-height: 60px;
    padding: 8px 19px;
    .q-item__label {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: $grey-5;
      opacity: 1;
      z-index: 1;
      max-width: 340px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    &.q-manual-focusable--focused { 
      & > .q-focus-helper {
        background: #F7F7F7;
        opacity: 0.45;
      }
    }
  }
  .no-result {
    .q-item__section {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: $grey-5 !important;
    }
  }
  @media (max-width: 772px) {
    border-radius: 0 0 6px 6px;
    .q-item {
      .q-item__label {
        font-size: 16px;
        line-height: 16px;
        max-width: 40vw;
      }
    }
    .no-result {
      .q-item__section {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
.my-dopbox-menu {
  .q-item {
    border-bottom: none;
    min-height: auto;
    padding: 7px 19px;
    align-items: center;
    img {
      border-radius: 100%;
    }
    &:first-child {
      padding-top: 14px;
    }
    &:last-child {
      padding-bottom: 14px;
    }
    .q-item__label--caption {
      display: none;
    }
    &:hover {
      .q-item__label {
        color: $primary;
      }
    }
    .q-item__section--avatar {
      padding-right: 15px;
      min-width: auto;
      img {
        width: 30px;
      }
    }
    &.q-manual-focusable--focused { 
      & > .q-focus-helper {
        opacity: 0;
      }
    }
  }
  @media (max-width: 772px) {
    .q-item {
      padding: 4px 13px;
      img {
        border-radius: 100%;
      }
      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
      .q-item__label {
        font-size: 16px;
      }
      .q-item__section--avatar {
        padding-right: 8px;
        img {
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 772px) {
  .my-input {
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $grey-5;
    opacity: 1;
    border: 2px solid $grey-3;
    height: 40px;
    transition: all 0.25s;
    input {
      height: 36px;
      font-size: 16px;
    }
    &:hover {
      background: #ECECEC;
    }
    &.q-field--focused {
      border: 2px solid #444444;
    }
    .q-field__control {
      padding-left: 13px;
      padding-right: 14px;
      min-height: 40px;
      border-radius: 6px;
    }
    .q-field__native {
      min-height: 36px;
    }
  }
  
  .my-select {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $grey-5;
    border-radius: 6px;
    height: 40px;
    .q-field__label {
      opacity: 0.6;
    }
    .q-field__marginal {
      min-height: 40px;
    }
    .q-select__dropdown-icon {
      font-size: 11px;
    }
    .q-field__native {
      min-height: 40px;
    }
    .q-field__control {
      padding-left: 13px;
      padding-right: 14px;
      border-radius: 6px;
      min-height: 40px;
      height: 40px;
      border: 1px solid #fff;

      &:before,
      &:after {
        display: none;
      }
      .q-field__append {
        min-height: 42px;
        height: 42px;
        .clear-input {
          font-size: 9px;
          margin-right: 13px;
        }
      }
      .q-field__prepend,
      .q-field__append,
      .q-field__prepend {
        .search-input,
        .clear-input {
          opacity: 1;
        }
      }
      .q-field__prepend {
        display: none;
      }
      .q-field__control-container,
      .q-field__control-container .q-field__native {
        padding: 0;
      }
      .q-field__control-container {
        span {
          flex: 1 1 40vw;
          font-size: 16px;
          @media (max-width: 380px) {
            flex: 1 1 30vw;
          }
        }
        .q-field__input {
          @media (max-width: 380px) {
            min-width: 10px !important;
          }
        }
      }
      .ellipsis {
        font-weight: 400;
        font-size: 21px;
        line-height: 21px;
        color: $grey-5;
        opacity: 0.6;
        top: 20px;
        height: max-content;
        z-index: 2;
        margin: auto 0;
      }
    }
    &.q-field--focused {
      .q-field__control {
        border-radius: 6px 6px 0 0;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        .ellipsis {
          display: none;
        }
      }
      .q-field__control-container {
        span {
          flex: 1 1 0;
        }
      }
    }
  }
  .my-select-menu,
  .my-dopbox-menu {
    border-radius: 0 0 6px 6px;
    .q-item {
      min-height: 40px;
    }
  }
}

.my-file-upload {
  .q-uploader {
    box-shadow: none;
    border-radius: 4px;
    vertical-align: top;
    background: #F0F0F0;
    position: relative;
    width: 320px;
    max-height: 320px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    border-radius: 0 9px 9px 0; 
    .q-uploader__header {
      background: none !important;
      flex: 1 1 100%;
      height: 100%;
      position: absolute; 
      .q-uploader__subtitle {
        display: none;
      }
      .q-uploader__header-content {
        padding: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        
        .col.column.justify-center {
          display: none;
        }
        .q-btn {
          width: calc(100% - 5px);
          display: block;
          padding: 0;
          margin: 0;
          margin-top: 4px;
          width: 100%;
          height: 100%;
          min-height: auto;
          .q-focus-helper {
            display: none;
          }
          &:before {
            content: '';
            width: 32px;
            height: 32px;
            background: url(../assets/foto.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 32px 28px;
            margin: 0 auto;
            margin-top: 36px;
          }
          &:after {
            content: 'Загрузить фото';
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #444444;
            opacity: 0.6;
            position: relative;
            top: 80px;
            display: block;
            padding: 0 20px;
            text-transform: capitalize;
          }
          // top: 0;
          // left: 0;
          .q-icon {
            display: none;
          }
          &:first-child {
            display: none;
          }
        }
      }
    }
    .q-uploader__list {
      padding: 0;
      flex: 0 0 140px;
      border-radius: 0 9px 9px 0; 
      overflow: visible;
      .q-uploader__file-header-content {
        display: none;
        border-radius: 0 9px 9px 0; 
      }
      .q-uploader__file-header  {
        justify-content: flex-end;
        border-radius: 0 9px 9px 0; 
      }
      .q-btn {
        left: 6px;
        .q-focus-helper {
          display: none;
        }
      }
      .q-uploader__file--img {
        color: #fff;
        height: 136px;
        min-width: 100%;
        border: none;
        border-radius: 0 9px 9px 0; 
        .q-uploader__file-header {
          background: none;
          .q-btn {
            width: 40px;
            padding: 0;
            height: 40px;
            border-radius: 100%;
            background: #F0F0F0;
            transition: all 0.3s;
            position: relative;
            top: -24px;
            left: 28px;
            .q-icon {
              color: black;
              opacity: 0.3;
              transition: all 0.3s;
            }
            &:hover {
              background: #ECECEC;
              .q-icon {
                transform: rotate(180deg);
              }
            }
            &:active {
              .q-icon {
                opacity: 0.1;
              }
              
            }
          }
        }
      }
      @media (max-width: 772px) {
        border-radius: 6px; 
        .q-uploader__file-header-content {
          border-radius: 6px; 
        }
        .q-uploader__file-header  {
          border-radius: 6px; 
        }
        .q-uploader__file--img {
          border-radius: 6px; 
        }
      }
    }
  }
}

.toggle-mini {
  flex-direction: column;
  .q-toggle__inner {
    padding: 0;
    font-size: 32px;
    width: 32px;
    height: 10px;
    min-width: auto;
    .q-toggle__track {
      width: 32px;
      height: 10px;
      background: #ECECEC;
      opacity: 1;
    }
    .q-toggle__thumb {
      width: 10px;
      height: 10px;
      left: 22.2px;
      top: 0;
      &:before {
        display: none;
      }
      &:after {
        box-shadow: none;
      }
    }
  }
  .q-toggle__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $grey-5;
    margin-top: 11px;
  }
  
  .q-toggle__inner--falsy {
    .q-toggle__track {
      opacity: 0.6;
    }
    .q-toggle__thumb {
      left: 0;
      &:after {
        background: #ADADAD;
        opacity: 0.3;
      }
    }
  }
  .q-toggle__inner--falsy + .q-toggle__label {
    opacity: 0.3;
  }
  @media (max-width: 772px) {
    .q-toggle__label {
      font-size: 12px;
      line-height: 12px;
      margin-top: 7px;
    }
  }
}

.q-field {
  @media (max-width: 772px) {
    .q-field__marginal {
      height: 34px;
    }
  }
}