// effects

.q-icon-info {
  position: relative;
  sup {
    width: 19px;
    height: 19px;
    position: absolute;
    border-radius: 100%;
    background: $positive;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 8px;
    top: -12px;
    .number {
      font-weight: 500;
      font-size: 10px;
      line-height: 10px;
      color: white;
    }
  }
}