.select-menu-mobile {
  background: #333333;
  border-radius: 0;
  top: inherit !important;
  bottom: 0;
  min-width: 100% !important;
  left: 0 !important;
  padding: 31px 35px;
  padding-bottom: 90px;
  .q-item {
    padding: 0;
    min-height: auto;
    margin-bottom: 16px;
    .q-focus-helper {
      display: none;
    }
    .q-item__section {
      .q-item__label {
        span {
          font-weight: 500;
          font-size: 16px;
          color: white;
        }
      }
    }
    &--active {
      .q-item__section {
        .q-item__label {
          span {
            color: $positive;
          }
        }
      }
    }
  }
}

.q-menu__notifications {
  max-width: 378px;
  width: 100%;
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-height: 638px;
  border: 1px solid #F0F0F0;
  position: relative;
  overflow: visible;
  transform: translate(33px, 15px);
  &:after,
  &:before {
    top: -20px;
    right: 42px;
    border: solid green;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
    border-color: rgba(194, 225, 245, 0);
    border-top-color: white;
    border-width: 10px;
    margin-left: -10px;
    z-index: 2;
  }
  &:after {
    top: -21px;
    border-top-color: #F0F0F0;
    z-index: 1;
  }
  .q-list {
    .q-item {
      border-bottom: 1px solid $grey-3;
      padding: 17px 28px;
      &:nth-child(5) {
        border: none;
        padding-bottom: 4px;
      }
      .q-focus-helper {
        display: none;
      }
      .q-item__section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.25s;
        * {
          transition: all 0.25s;
        }
        &.kind {
          width: 100%;
          .q-item__label {
            font-size: 13px;
            line-height: 17px;
            text-transform: uppercase;
            color: $grey-5;
            margin-left: 11px;
          }
          .time {
            font-size: 13px;
            line-height: 17px;
            text-transform: uppercase;
            color: $grey-5;
            margin-left: auto;
            margin-right: 8px;
          }
        }
        &.message {
          margin-left: 0;
          .info {
            padding-right: 23px;
            padding-top: 14px;
            .name {
              font-weight: 500;
              font-size: 18px;
              line-height: 18px;
              color: black;
            }
            .text {
              font-size: 14px;
              line-height: 17px;
              margin-top: 6px;
              color: $grey-5;
            }
          }
          img {
            width: 50px;
            image-rendering: -webkit-optimize-contrast;
            border-radius: 10px;
            margin-top: 0;
            margin-left: auto;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: #f7f7f7; 
      }
      &:active {
        .q-item__section {
          &.kind {
            .q-icon {
              opacity: 0.2;
            }
            .q-item__label {
              opacity: 0.3;
            }
            .time {
              opacity: 0.3;
            }
          }
          &.message {
            opacity: 0.3;
          }

        }
      }
    }
    .head {
      display: flex;
      padding: 18px 36px 18px 28px;
      &:hover {
        background: none;
      }
      .q-item__section {
        flex-direction: row;
        justify-content: space-between;
        .q-item__label {
          font-weight: 700;
          font-size: 30px;
          line-height: 30px;
          letter-spacing: -0.02em;
          color: #000000;
        }
      }
    }
    .foot {
      display: flex;
      padding: 0 28px 30px 28px ;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 39px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        position: absolute;
        top: -39px;
        left: 0;
        z-index: 2;
      }
      .q-item__section {
        .q-btn {
          border-radius: 10px;
          width: 100%;
          .block {
            font-weight: 500;
            font-size: 18px;
            position: relative;
            sup {
              position: absolute;
              font-size: 14px;
              margin-left: 5px;
            }
          }
          &:hover {
            background: #202020 !important;
            .block {
              opacity: 1;
            }
          }
          &:active {
            .block {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}

.q-menu-userinfo {
  background: #323232;
  box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  max-width: 492px;
  width: 100%;
  .q-item {
    padding: 0;
    flex-direction: column;
    
    .q-focus-helper {
      display: none; 
    }
    .head {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex: 0 0 100%;
      padding: 26px 23px 23px 26px;
      border-bottom: 1px solid rgba(240, 240, 240, 0.3);
      .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        flex: 0 0 max-content;
        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          image-rendering: -webkit-optimize-contrast;
        }
        .q-item__label {
          color: white;
          margin-left: 17px;
          .name-user {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
          }
          .email-user {
            font-size: 14px;
            line-height: 14px;
            margin-top: 8px;
          }
        }
      }
      .reviews {
        flex-direction: column;
        align-items: flex-end;
        .q-tabs {
          .q-tab {
            padding: 0;
            min-height: auto;
            flex: 0 0 max-content;
            .q-tab__content {
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: flex-end;
              color: white;
              padding: 0;
              padding-bottom: 3px;
              .q-icon {
                width: 18px;
                font-size: 18px;
              }
              .q-tab__label {
                line-height: 1;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                margin-left: 7px;
              }
            }
            .q-tab__indicator,
            .q-ripple {
              display: none;
            }
            &--active {
              .q-tab__content {
                .q-icon {
                  color: $positive;
                }
              }
            }
            &:last-child {
              margin-left: 17px;
              .q-tab__content {
                .q-icon {
                  position: relative;
                  top: 6px;
                }
              }
            }
          }
        }
        .q-item__label {
          min-width: max-content;
          color: white;
          font-weight: 400;
          margin-top: 2px;
        }
      }
    }
    .foot {
      margin-left: 0;
      padding: 13px 22px 14px 26px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .q-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        .q-item {
          align-items: center;
          display: flex;
          flex-direction: row;
          min-height: auto;
          justify-content: center;
          margin-right: 10px;
        }
        .link-mail {
          background: #222222;
          width: 50px;
          height: 32px;
          border-radius: 16px;
          margin-right: 17px;
          &:active {
            .q-icon {
              opacity: 0.3;
            }
          }
        }
        .link-whatsap,
        .link-telegram,
        .link-insta {
          width: 24px;
          height: 24px;
          border-radius: 100%;
        }
        .link-whatsap {
          background: linear-gradient(180deg, #72BF44 0.22%, #03AA4B 100.45%);
          position: relative;
          &:after {
            content: ''; 
            position: absolute;
            left: -3px;
            top: 22.5px;
            transform: rotate(125deg);
            border: 4px solid transparent;
            border-left: 7px solid #03AA4B;
          }
        }
        .link-telegram {
          background: linear-gradient(180deg, #2EBFE8 0%, #13A9DC 99.64%);
        }
        .link-insta {
          background: linear-gradient(180deg, #FBE18A -67.78%, #FCBB45 -19.18%, #F75274 19.82%, #D53692 54.19%, #8F39CE 104.51%, #5B4FE9 165.32%);
        }
      }
      .foot__tel {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}