.q-notifications {
  .q-notification {
    box-shadow: none;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 25px;
    border-radius: 6px;
    min-height: auto;
    .q-notification__message {

    }
  }
  @media (max-width: 772px) {
    .q-notification {
      font-size: 14px;
      padding: 0px 25px;
    }
  }
}