.my-tabs {
  .q-tabs__content {
    .q-tab {
      padding: 0;
      min-height: auto;
      flex: none;
      border-radius: 8px;
      transition: all 0.25s;
      .q-focus-helper,
      .q-ripple {
        display: none;
      }
      .q-tab__content {
        padding: 0;
        .q-tab__label {
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.02em;
          opacity: 0.3;
        }
      }
      &--active {
        .q-tab__content {
          .q-tab__label {
            opacity: 1;
          }
        }
        .q-tab__indicator {
          display: none;
        }
      }
    }
  }
}
