.my-table {
  .q-table {
    padding-top: 60px;
    thead {
      position: relative;
      transform: translateY(-60px);
      tr {
        th {
          font-size: 16px;
          line-height: 16px;
          color: #444444;
          opacity: 0.6;
          font-weight: 400;
          transition: all 0.25s;
          padding-bottom: 16px;
          &:hover {
            opacity: 1;
          }
          &.sortable {
            i {
              &:last-child {
                display: none;
              }
            }
          }
          &.sorted {
            .q-th__title {
              border-bottom: 1px solid black;
              padding-bottom: 21px;
            }
          }
          &.q-th__smaile {
            i {
              opacity: 0.3;
              .q-icon {
                color: black;
                &:last-child {
                  display: none;
                }
              }
              &:last-child {
                display: none;
              }
            }
          }
          &.q-th__smaile.sorted {       
            i {
              opacity: 1 !important;
              position: relative;
              transition: all 0.25s;
              * {
                color: black !important;
              }
              .q-icon {
                opacity: 1 !important;
              }
              &:after {
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                background: black;
                position: absolute;
                bottom: -19px;
                left: 0;
              }
            }
          }
          &.q-th__smaile.sort-desc {
            i {
              transform: rotate(0deg);
              .q-icon {
                color: black;
                &:first-child {
                  display: none;
                }
                &:last-child {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    
  }
  .q-table thead,
  .q-table tr,
  .q-table th,
  .q-table td {
    border-color: $grey-3;
  }
}

.finance-table {
  .q-table__middle {
    overflow: visible;
  }
  .q-table {
    padding-top: 61px;
    thead {
      position: relative;
      transform: translateY(-61px);
      th {
        padding-bottom: 15px;
      }
    }
    tbody {
      tr {
        @media (min-width: 772px) {
          &:last-child {
            td {
              border-bottom: 1px solid #F0F0F0;
            }
          } 
          &:first-child { 
            td {
              border-top: 1px solid $grey-3;
            }
          }
        }
        &:hover {
          td {
            &:after {
              content: '';
              width: 100%;
              background: none;
              position: absolute;
              border-bottom: 1px solid #dddddd;
              bottom: -1px;
              opacity: 1;
            }
          }
        }
        td {
          height: auto;
          padding: 10.5px 16px;
          
          @media (min-width: 772px) and (max-width: 1440px) {
            padding: 10.5px 12px;
          }
          &:after {
            content: '';
            width: 100%;
            background: none;
            position: absolute;
            border-bottom: 1px solid #dddddd;
            bottom: -1px;
            opacity: 0;
          }
          &:before {
            background: none;
            border-top: 1px solid #dddddd;
            top: -1px;
            opacity: 1;
          }
          & > div {
            display: block;
            white-space: pre-wrap;
          }
          .q-td__sum {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: black;
            max-width: 131px;
          }
          .q-td__date {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $grey-5;
          }
          .q-td__project {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $grey-5;
          }
          .q-td__from {
            display: flex;
            align-items: center;
            .q-td__form__img {
              position: relative;
              display: flex;
              align-items: center;
              z-index: 1;
              .q-icon {
                position: absolute;
                top: -5px;
                right: -11px;
              }
              img {
                width: 30px;
                height: 30px;
                border-radius: 100%;
              }
            }
            .title {
              font-weight: 400;
              font-size: 16px;
              line-height: 16px;
              color: $grey-5;
              margin-left: 13px;
            }
          }
          .q-td__type {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $grey-5;
          }
        }
        .q-td-action {
          display: flex;
          justify-content: flex-end;
        }
      }
      .q-tr__transfer {
        .q-td__from {
          position: relative;
          .q-td__from__arrow {
            position: absolute;
            top: -120%;
            left: -3px;
            z-index: 0;
            background: white;
            border-radius: 100%;
          }
        }
      }
      .q-tr__transfer,
      .q-tr__agency {
        height: 66px;
        .q-td__sum {
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: $grey-5;
          position: relative;
          z-index: 1;
          white-space: nowrap;
        }
      }
      .q-tr__agency {
        .q-td__status {
          .q-icon {
            background: white;
            border-radius: 100%;
          }
        }
        .q-td__action {
          width: 100%;
          margin-left: auto;
          margin-right: 14px;
          @media (max-width: 1450px) {
            margin-right: 42px !important;
          }
        }
      }
      
      .q-tr__borderlr {
        td {
          &:first-child {
            border-left: 1px solid $grey-3;
          }
          &:last-child {
            border-right: 1px solid $grey-3;
          }
        }
        &:hover {
          td {
            &:first-child {
              border-left: 1px solid #ECECEC;
            }
            &:last-child {
              border-right: 1px solid #ECECEC;
            }
          }
        }
      }
      .q-tr__borderlr-noborder {
        td {
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
        &:hover {
          td {
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
      @media (min-width: 772px) {
        .q-tr__borderlr {
          &:hover + tr {
            td {
              border-bottom: 1px solid #dddddd;
            }
          }
        }
      }
    }
  }
  @media (max-width: 772px) {
    .q-table {
      padding-top: 0;
      display: block;
      width: 100%;
      thead {
        display: none;
      }
      tbody {
        display: block;
        tr {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid $grey-3;
          border-radius: 10px;
          margin-bottom: 5px;
          padding: 14px 20px 21px 20px;
          position: relative;
          &:first-child { 
            td {
              border: none;
            }
          }
          &:hover {
            td {
              &:after {
                display: none;
              }
            }
          }
          td {
            height: auto;
            padding: 0;
            border: none;
            flex: 1 1 max-content;
            min-width: auto ;
            max-width: max-content;
            &:after {
              display: none;
            }
            &:before {
              display: none;
            }
            // & > div {
            //   display: block;
            //   white-space: pre-wrap;
            // }
            .q-td__status {
              max-width: max-content;
              margin-left: -3px;
              .q-icon {
                font-size: 18px !important;
              }
            }
            .q-td__sum {
              max-width: max-content;
              margin-left: 8px;
              line-height: 20px;
              position: relative;
              top: 1.2px;
            }

            &.q-td-date {
              order: 2;
              margin-left: auto;
              margin-top: 3px;
              .q-td__date {
                font-size: 14px;
                line-height: 14px;
                font-size: 14px;
                line-height: 14px;
                opacity: 0.3;
              }
            }

            &.q-td-project {
              flex: 0 0 100%;
              max-width: 100%;
              margin-top: 14px;
              .q-td__project {
                font-size: 14px;
                line-height: 14px;
              }
            }
            
            &.q-td-from {
              order: 3;
              max-width: 100%;
              flex: 0 0 100%;
              padding-top: 13px;
              .q-td__from {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .q-td__form__img {
                  img {
                    display: none;
                  }
                  .q-icon {
                    display: none;
                  }
                }
                .title {
                  font-size: 14px;
                  line-height: 14px;
                  margin-left: 0;
                  width: 100%;
                  flex: 0 0 100%;
                  max-width: 100%;
                  &:before {
                    content: 'От кого: '
                  }
                }
                .title-to {
                  &:before {
                    content: 'Кому: '
                  }
                }
              }
            }
            &.q-td-type {
              order: 1;
              margin-top: 3px;
              .q-td__type {
                font-size: 14px;
                line-height: 14px;
                margin-left: 0;
                opacity: 0.3;
              }
            }
            
            &.q-td-action {
              position: absolute;
              top: 2.5px;
              right: 10px;
              .q-td__action {
                
                .q-btn {
                  padding: 0;
                  width: 44px;
                  height: 44px;
                }
              }
            }
          }
        }
        .q-tr__transfer {
          border-top: none;
          border-radius: 0 0 10px 10px;
          padding-top: 0;
          padding-bottom: 21px;
          height: auto !important;
          .q-td__sum {
            font-size: 14px;
            line-height: 14px;
            opacity: 0.3;
            margin-left: 0;
          }
          .q-td__from {
            display: none;
            .q-td__from__arrow {
              display: none;
            }
          }
        }
        .q-tr__transfer,
        .q-tr__agency {
          height: 66px;
          .q-td__sum {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $grey-5;
            position: relative;
            z-index: 1;
            white-space: nowrap;
          }
        }
        
        
        .q-tr__borderlr {
          margin-bottom: 0;
          border-radius: 10px 10px 0 0;
          border-bottom: none;
          td {
            &:first-child {
              border: none;
            }
            &:last-child {
              border: none;
            }
          }
          &:hover {
            td {
              &:first-child {
                border: none;
              }
              &:last-child {
                border: none;
              }
            }
          }
        }
        .q-tr__borderlr__transfer {
          padding-bottom: 16px;
        }
        .q-tr__agency {
          border-radius: 0 0 10px 10px;
          border-bottom: none;
          height: auto;
          .q-td__status {
            .q-icon {
              display: none;
            }
          }
          .q-td__sum {
            font-size: 14px;
            line-height: 14px;
            opacity: 0.4;
            white-space: pre-wrap;
            margin-left: 0;
            text-align: left;
          }
          .q-td__action {
            display: none;
            .q-icon {
              margin-right: 6px;
            }
          }
          .q-td__from {
            margin-top: 18px;
            .q-btn {
              padding: 7px 13px !important;
            }
          }
        }

      }
    }
  }
}

.projects-table {
  padding-top: 45px;
  .q-table__middle {
    overflow: visible;
  }
  .q-table {
    thead {
      display: inline-flex;
      max-width: 1320px;
      width: 100%;
      tr {
        display: flex;
        width: 100%;
        th {
          flex: auto;
          padding-left: 0;
          padding-right: 0;
          .q-th__title {
            position: relative;
            top: 3px;
          }
          &.sorted {
            .q-th__title {
              border-bottom: 1px solid black;
              padding-bottom: 20px;
              position: relative;
            }
          }
          &.q-th__smaile.sorted {       
            i {
              &:after {
                bottom: -22px;
                @media (max-width: 1441px) {
                  bottom: -21px;
                }
              }
            }
          }
        }
        .q-th__smaile {
          padding-left: 0;
          .notranslate {
            margin-left: 20px;
            @media (max-width: 1441px) {
              margin-left: 0;
              position: relative;
              top: 1px;
              margin-right: 15px;
            }
          }
        }
        .q-th__image,
        .q-th__action,
        .q-th__address,
        .q-th__share {
          display: none;
        }
        .q-th__view {
          padding-right: 25px;
          opacity: 1;
          .q-tabs {
            .q-tab {
              margin-left: 19px;
              .q-tab__content {
                .q-icon {
                  font-size: 17px;
                  color: black;
                  opacity: 0.3;
                }
              }
              &--active {
                .q-tab__content {
                  .q-icon {
                    opacity: 1;
                  }
                }
              }
            } 
          }
        }
      }
      @media (max-width: 772px) {
        display: none;
      }
    }
    tbody {
      display: flex;
      max-width: 1320px;
      flex-wrap: wrap;
      tr {
        border: 1px solid #F0F0F0;
        border-radius: 10px;
        td {
          border: none;
          padding: 0 26px;
          height: auto;
          .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $grey-5;
            white-space: break-spaces;
          }
        }
        &:hover {
          td {
            &:before {
              display: none;
            }
          }
        }
      }
      .q-tr-tiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin-bottom: 60px;
        padding-bottom: 24px;
        &:nth-child(1n) {
          margin-right: 30px;
        } 
        &:nth-child(2n) {
          margin-left: 30px;
          margin-right: 0;
        } 
        @media (max-width: 1441px) {
          flex: 1 1 calc(50% - 15px);
          max-width: calc(50% - 15px);
          margin-bottom: 30px;
          &:nth-child(1n) {
            margin-right: 15px;
          } 
          &:nth-child(2n) {
            margin-left: 15px;
            margin-right: 0;
          }
        }
        .q-td-image {
          padding: 0;
          width: 100%;
          flex: 0 0 100%;
          height: 329px;
          background-image: url(../assets/no-image.svg);
          background-size: 100px 100px;
          background-repeat: no-repeat;
          background-position: center center;
          border-bottom: 1px solid #F0F0F0;
          margin-bottom: 27px;
          border-radius: 10px 10px 0 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .q-td-name {
          flex: 1 1 calc(100% - 96px);
          max-width: calc(100% - 96px);
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          .text-h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 25px;
            color: #000000;
            white-space: pre-wrap;
            .name-ico {
              @media (min-width: 772px) {
                margin-right: 4px;
              }
            }
          }
        }
        .q-td-action {
          margin-left: auto;
          flex: 0 0 70px;
          margin-bottom: 15px;
          padding-right: 16px;
          .q-td__action {
            .q-btn {
              &:hover,
              &:active {
                background: none;
              }
            }
          }
        }
        .q-td-square,
        .q-td-changed,
        .q-td-customer,
        .q-td-created {
          flex: 1 1 50%;
          max-width: 50%;
        }
        .q-td-changed,
        .q-td-created {
          text-align: right;
        }
        .q-td-address {
          flex: 0 0 100%;
          margin-top: 19px;
        }
        .q-td-readiness,
        .q-td-payment {
          margin-top: 28px;
          .q-chip {
            background: #F0F0F0;
            border-radius: 4px;
            margin: 0;
            height: 31px;
            padding-left: 12px;
            padding-right: 12px;
            .q-ripple {
              display: none;
            }
          }
        }
        .q-td-readiness {
          flex: 0 0 max-content;
          padding-right: 0;
        }
        .q-td-payment {
          flex: 0 0 max-content;
          padding-left: 0;
          margin-left: 6px;
        }
        .q-td-timing {
          flex: 0 0 100%;
          margin-top: 18px;
        }
        .q-td-share {
          flex: 0 0 100%;
          .q-list {
            display: flex;
            padding-top: 20px;
            .q-item {
              padding: 0;
              min-height: auto;
              margin-right: 5px;
              .q-btn {
                width: 30px;
                height: 30px;
                padding: 0;
                min-height: auto;
                border-radius: 100%;
                overflow: hidden;
                transition: all 0.3s;
                &:hover {
                  opacity: 0.6;
                }
                &:active {
                  opacity: 0.3;
                }
                &:before {
                  box-shadow: none;
                }
                .q-focus-helper,
                .q-ripple {
                  display: none;
                }
                img {
                  width: 100%;
                  object-fit: cover;
                  image-rendering: -webkit-optimize-contrast;
                }
              }
              .q-td-share__btn__limit {
                .block{
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 16px;
                  color: $grey-5;
                }
              }
              .q-td-share__btn__add {
                background: #F0F0F0;
                .q-icon {
                  font-size: 12px;
                }
              }
            }
            .q-item-add {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  &.projects-table-cubes {
    tbody {
      tr {
        overflow: visible;
        td {
          padding: 0 26px;
          .text {
            line-height: 21px;
            sup {
              font-size: 9px;
            }
          }
        }
      }
      .q-tr-tiles {
        flex: 1 1 calc(33.333% - 60px);
        max-width: calc(33.333% - 30px);
        padding-bottom: 16px;
        &:nth-child(1n) {
          margin-right: 0;
        } 
        &:nth-child(2n) {
          margin-left: 0;
        } 
        &:nth-child(3n + 2) {
          margin-left: 60px;
          margin-right: 60px;
        } 
        @media (max-width: 1441px) {
          flex: 1 1 calc(33.333% - 30px);
          max-width: calc(33.333% - 15px);
          padding-bottom: 16px;
          &:nth-child(3n + 2) {
            margin-left: 30px;
            margin-right: 30px;
          } 
        }
        .q-td-image {
          display: none;
        }
        .q-td-name {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 42px;
          order: 1;
          padding-top: 25px;
        }
        .q-td-action {
          margin-left: auto;
          flex: 0 0 70px;
          margin-bottom: 0;
          order: 10;
          padding-left: 0;
          margin-top: 14px;
          display: flex;
          justify-content: flex-end;
          padding-right: 16px;
        }
        .q-td-changed {
          order: 2;
        }
        .q-td-created {
          order: 3;
          padding-top: 0;
        }
        .q-td-square {
          order: 4;
          margin-top: 9px;
        }
        .q-td-address {
          order: 5;
          padding-top: 0;
          flex: 0 0 100%;
          margin-top: 0;
        }
        .q-td-customer {
          order: 6;
          margin-top: 19px;
        }
        .q-td-readiness,
        .q-td-payment{
          flex: 0 0 100%;
          order: 7;
          padding-left: 26px;
          padding-right: 26px;
          margin-left: 0;
          margin-top: 0;
          .q-chip {
            background: #fff !important;
            margin: 0;
            height: auto !important; 
            line-height: 1;
            padding: 0 !important;
            width: 100%;
            .text {
              width: 100%;
              display: flex;
              font-weight: 500;
              font-size: 18px;
              line-height: 18px;
              span {
                margin-left: auto;
              }
            }
            .q-ripple {
              display: none;
            }
          }
          .toolbar {
            width: 100%;
            height: 4px;
            margin-left: auto;
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 9px;
            margin-right: 0;
            margin-bottom: 0;
            background-color: #ECECEC;
            border-radius: 2px;
            .toolbar-procent {
              height: 4px;
              border-radius: 2px;
            }
          }
        }
        .q-td-readiness {
          margin-top: 23px;
        }
        .q-td-payment {
          margin-top: 10px;
        }
        .q-td-timing {
          order: 8;
          margin-top: 22px;
          flex: 0 0 100%;
        }
        .q-td-share {
          order: 9;
        }
        .q-td-square,
        .q-td-changed,
        .q-td-customer,
        .q-td-created {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .q-td-changed,
        .q-td-created {
          text-align: left;
        }
        .q-td-share {
          flex: 1 1 calc(100% - 86px);
          max-width: calc(100% - 86px);
          padding-right: 0;
          .q-list {
            padding-top: 21.5px;
            .q-item {
              min-height: auto;
              .q-btn {
              }
              .q-td-share__btn__limit {
                width: max-content;
                margin: 0 7px;
              }
            }
            .q-item-add {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  &.projects-table-stripes {
    tbody {
      tr {
        overflow: visible;
        td {
          padding: 0 26px;
          .text {
            line-height: 21px;
            sup {
              font-size: 9px;
            }
          }
        }
      }
      .q-tr-tiles {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 14px;
        margin-bottom: 10px;
        &:nth-child(3n + 2),
        &:nth-child(1n),
        &:nth-child(2n) {
          margin-left: 0;
          margin-right: 0;
        } 
        .q-td-image {
          display: none;
        }
        .q-td-name {
          flex: 1 1 calc(100% - 350px);
          max-width: calc(100% - 350px);
          margin-bottom: 27px;
          order: 1;
          padding-top: 35px;
        }
        .q-td-action {
          margin-left: 0;
          flex: 0 0 70px;
          margin-bottom: 0;
          order: 3;
          padding-left: 13px;
          padding-right: 0;
          margin-top: 23px;
        }
        .q-td-readiness,
        .q-td-payment,
        .q-td-changed,
        .q-td-created,
        .q-td-timing {
          background: #F7F7F7;
          border-top: 1px solid #F0F0F0;
          border-bottom: 1px solid #F0F0F0;
          padding-top: 6px;
          padding-bottom: 6px;
          display: flex;
          align-items: center;
          flex: 0 1 max-content;
          .text {
            font-size: 14px;
            line-height: 14px;
          }
        }
        .q-td-changed {
          order: 5;
          justify-content: flex-end;
          padding-right: 20px;
          flex: 1 1 auto;
          .text {
            margin-left: auto;
          }
        }
        .q-td-created {
          order: 6;
          padding-top: 0;
          padding-left: 6px;
          justify-content: flex-end;
          padding-bottom: 0;
          padding-right: 0;
        }
        .q-td-square,
        .q-td-address,
        .q-td-customer {
          display: flex;
          align-items: center;
          padding-top: 14px;
        }
        .q-td-square {
          order: 8;
          margin-top: 0;
          flex: 0 0 max-content;
          padding-right: 20px;
        }
        .q-td-address {
          order: 9;
          flex: 0 0 max-content;
          margin-top: 0;
          padding-left: 0;
        }
        .q-td-customer {
          order: 10;
          margin-top: 0;
          flex: 1 1 max-content;
          margin-left: auto;
          justify-content: flex-end;
          .text:before {
            content: 'Заказчик: ';
          }
        }
        
        .q-td-readiness,
        .q-td-payment{
          flex: 0 0 max-content;
          order: 4;
          padding-left: 26px;
          padding-right: 5px;
          margin-left: 0;
          margin-top: 0;
          
          .q-chip {
            background: #FFFFFF;
            border: 1px solid #F0F0F0;
            margin: 0;
            height: 31px;
            padding-left: 12px;
            padding-right: 12px;
            .q-ripple {
              display: none;
            }
          }
          .toolbar {
            display: none;
          }
        }
        .q-td-payment {
          margin-top: 0;
          padding-left: 0;
          .text {
            margin-left: auto;
          }
        }
        .q-td-timing {
          order: 7;
          margin-top: 0;
          padding-right: 25px;
          padding-left: 77px;
          justify-content: flex-end;
        }
        

        .q-td-share {
          flex: 1 1 max-content;
          max-width: max-content;
          padding-right: 0;
          order: 2;
          margin-left: auto;
          display: flex;
          justify-content: flex-end;
          .q-list {
            padding-top: 29px;
            .q-item {
              min-height: auto;
              .q-btn {
              }
              .q-td-share__btn__limit {
                width: max-content;
                margin-left: 8px;
                margin-right: 8px;
              }
            }
            .q-item-add {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
  @media (max-width: 772px) {
    padding-top: 13px;
    .q-table {
      padding-top: 0;
      tbody {
        tr {
          td {
            padding: 0 20px;
            .text {
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
        .q-tr-tiles {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 5px;
          padding-bottom: 16px;
          overflow: visible;
          &:nth-child(1n) {
            margin-right: 0;
          } 
          &:nth-child(2n) {
            margin-left: 0;
            margin-right: 0;
          } 
          .q-td-image {
            padding: 0;
            width: 100%;
            flex: 0 0 100%;
            height: 194px;
            margin-bottom: 21px;
            order: 1;
          }
          .q-td-name {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 15px;
            order: 2;
            .text-h3 {
              display: flex;
              padding-right: 62px;
              position: relative;
              font-size: 23px;
              line-height: 24.9px;
              .name-ico {
                position: absolute;
                right: 0;
                top: 0;
              }
            }
          }
          .q-td-action {
            margin: 0;
            margin-left: auto;
            flex: 0 0 70px;
            margin-bottom: 0;
            order: 11;
            padding: 0;
            padding-right: 9px;
            display: flex;
            justify-content: flex-end;
            .q-td__action {
              margin-top: 18px;
            }
          }
          .q-td-square {
            order: 5;
            margin-top: 15px;
          }
          .q-td-changed {
            order: 3;
            margin-top: 5px;
          }
          .q-td-customer {
            order: 7;
            margin-top: 24px;
          }
          .q-td-created {
            order: 4;
            margin-top: 4px;
          }

          .q-td-square,
          .q-td-changed,
          .q-td-customer,
          .q-td-created {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
          }
          .q-td-address {
            flex: 0 0 100%;
            margin-top: 4px;
            order: 6;
          }
          .q-td-readiness,
          .q-td-payment {
            margin-top: 26px;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 0;
            margin-left: 0;
            order: 8;
            .q-chip {
              background: #fff !important;
              margin: 0;
              height: auto !important; 
              line-height: 1;
              padding: 0 !important;
              width: 100%;
              .text {
                width: 100%;
                display: flex;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                span {
                  margin-left: auto;
                }
              }
              .q-ripple {
                display: none;
              }
            }
            .toolbar {
              width: 100%;
              height: 4px;
              margin-left: auto;
              flex: 0 0 100%;
              max-width: 100%;
              margin-top: 9px;
              margin-right: 0;
              margin-bottom: 0;
              background-color: #ECECEC;
              border-radius: 2px;
              .toolbar-procent {
                height: 4px;
                border-radius: 2px;
              }
            }
          }
          .q-td-payment {
            margin-top: 10px;
          }
          .q-td-timing {
            flex: 1 1 100%;
            margin-top: 24px;
            order: 9;
          }
          .q-td-share {
            flex: 1 1 calc(100% - 96px);
            max-width: calc(100% - 96px);
            order: 10;
            margin-top: 5px;
            .q-list {
              display: flex;
              padding-top: 20px;
              .q-item-add {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}


.q-td__action {
  position: relative;
  max-width: 44px;
  .q-btn {
    padding: 0;
    width: 44px;
    height: 44px;
    .q-focus-helper {
      display: none;
    }
    &:hover {
      background: #F5F5F5;
      @media (max-width: 772px) {
        background: rgba(0,0,0,0);
      }
    }
    &:active {
      .q-icon {
        opacity: 0.3;
      }
    }
    &__arrow {
      display: none;
    }
  }
  .q-icon {
    cursor: pointer;
  }
}
.q-td__action__list {
  background: #333333;
  box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
  min-width: 321px !important;
  overflow: visible;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
  &:after,
  &:before {
    top: -20px;
    right: 32px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #323232;
    border-width: 10px;
    margin-left: -10px;
  }
  .q-list {
    padding: 12.5px 18px;
    .q-item {
      padding: 0;
      margin: 8px 0;
      min-height: auto;
      .q-focus-helper {
        display: none;
      }
      .q-item__label {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: white;
        transition: all 0.25s;
        text-align: left;
      }
      &:hover {
        .q-item__label {
          color: $positive;
        }
      }
      &:active {
        .q-item__label {
          opacity: 0.3;
        }
      }
    }
  }
  &.visible {
    opacity: 1;
    z-index: 10000;
  }
}

