.q-tabs-null {
  .q-tab {
    min-height: auto;
    padding: 0;
    .q-focus-helper,
    .q-ripple {
      display: none;
    }
    .q-tab__content {
      padding: 0;
      min-width: auto;
    }
    .q-tab__indicator {
      display: none;
    }
  }
}
.my-tabs {
  .q-tabs__content {
    .q-tab {
      padding: 0;
      min-height: auto;
      flex: none;
      border-radius: 8px;
      transition: all 0.25s;
      .q-focus-helper,
      .q-ripple {
        display: none;
      }
      .q-tab__content {
        padding: 0;
        .q-tab__label {
          font-weight: 700;
          line-height: 1;
          letter-spacing: -0.02em;
          opacity: 0.15;
          transition: all 0.25s;
        }
      }
      &:hover {
        .q-tab__content {
          .q-tab__label {
            opacity: 0.2;
          }
        }
      }
      &--active {
        .q-tab__content {
          .q-tab__label {
            opacity: 1;
          }
        }
        &:hover {
          .q-tab__content {
            .q-tab__label {
              opacity: 1;
            }
          }
        }
        .q-tab__indicator {
          display: none;
        }
      }
    }
  }
}


.q-tabs-reviews {
  .q-tab {
    padding: 0;
    min-height: auto;
    flex: 0 0 max-content;
    .q-tab__content {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      color: white;
      padding: 0;
      padding-bottom: 3px;
      .q-icon {
        width: 18px;
        font-size: 18px;
      }
      .q-tab__label {
        line-height: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        margin-left: 7px;
      }
    }
    .q-tab__indicator,
    .q-ripple {
      display: none;
    }
    &--active {
      .q-tab__content {
        .q-icon {
          color: $positive;
        }
      }
    }
    &:last-child {
      margin-left: 17px;
      .q-tab__content {
        .q-icon {
          position: relative;
          top: 6px;
        }
      }
    }
  }
}

.q-tabs-contractor-status {
  .q-tabs__content {
    flex-direction: column;
    .q-tab {
      opacity: 1;
      min-height: 42px;
      background: #F7F7F7;
      border: 1px solid #ECECEC;
      border-radius: 8px;
      margin-bottom: 5px;
      padding-left: 19px;
      padding-right: 24px;
      .q-tab__content {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .q-tab__label {
        color: $grey-5;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
      }
      .circle {
        width: 5px;
        height: 5px;
        border-radius: 100%;
      }
      &--active {
        background: #FFFFFF;
        border: 2px solid #CCCCCC;
        .q-tab__label {
          color: $grey-5 !important;
        } 
      }
    }
  }
}