.page-clients {
  .sort-number-container {
    min-height: 67px;
    position: relative;
  }
  .sectiobn-btns {
    position: relative;
    z-index: 2;
  }
  @media (max-width: 772px) {
    .sectiobn-btns {
      flex: 0 0 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-top: 28px;
      .q-btn {
        padding: 9px 26px;
        &:last-child {
          margin-right: 4px;
          padding-left: 18px;
          padding-right: 26px;
          .q-icon {
            margin-right: 5px;
          }
        }
      }
    }
    .clients-table {
      margin-top: 20px;
    }
    .sort-number {
      margin-bottom: 27px;
    }
    .sort-number-container {
      min-height: 141px;
      position: relative;
    }
  }
}

.page-clients-single {
  .head {
    .sectiobn-btns {
      margin-top: 39px;
    }
    .info-2 {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }
  .foto-gallery {
    .my-btn-custom-big {
      margin-top: 40px;
    }
  }
  .projects {
    .q-expansion-item__container > .q-item {
      padding: 35px 0 21px 0;
    }
    .q-table__container {
      padding-top: 10px;
      .q-table__middle {
        overflow: hidden;
      }
      .q-table {
        padding-top: 0;
        thead {
          display: none;
        }
      }
    }
  }

}