.page-contractor {
  .head {
    padding-top: 47px;
    .select-section {
      &:nth-child(2) {
        margin-left: 10vw;
      }
      &:nth-child(3) {
        margin-left: 12vw;
      }
    }
  }
}