.page-estimates {
  .info {
    padding-top: 52px;
    padding-bottom: 8px;
    border-bottom: 1px solid #F0F0F0;
    .desc {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      b {
        font-weight: 500;
      }
    }
    .action {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #444444;
    }
  }
  .sectiobn-btns {
    margin-top: 31px;
    padding-bottom: 41px;
    border-bottom: 1px solid #f0f0f0;
    .q-btn {
      margin-top: 5px;
    }
  }
  .smeta-section {
    display: flex;
    align-items: center;
    padding: 18px 0 18px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: black;
      min-width: 276px;
    }
    .subtitle {
      min-width: 276px;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #444444;
      margin-right: 3px;
    }
    .status {
      margin-right: 31px;
    }
  }
  .estimates-info {
    margin-top: 38px;
    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: black;
    }
    .toggle-small {
      margin-left: 12px;
      margin-right: 14px;
    }
    .q-tabs-estimates {
      margin-left: 12px;
      .q-tab {
        position: relative;
        margin-left: -10px;
      }
    }
  }
  .estimates-table-container {
    padding-top: 19px;
    margin-bottom: 62px;
  }
  .prev-list {
    margin-top: 60px;
  }
}