.page-estimates {
  .info {
    padding-top: 52px;
    padding-bottom: 8px;
    border-bottom: 1px solid #F0F0F0;
    .desc {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      b {
        font-weight: 500;
      }
    }
    .action {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #444444;
    }
  }
  .sectiobn-btns {
    margin-top: 31px;
    padding-bottom: 41px;
    border-bottom: 1px solid #f0f0f0;
    .q-btn {
      margin-top: 5px;
    }
  }
  .smeta-section {
    display: flex;
    align-items: center;
    padding: 18px 0 18px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: black;
      min-width: 276px;
    }
    .subtitle {
      min-width: 276px;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #444444;
      margin-right: 3px;
    }
    .status {
      margin-right: 31px;
    }
  }
  .estimates-info {
    margin-top: 38px;
    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: black;
    }
    .toggle-small {
      margin-left: 12px;
      margin-right: 14px;
    }
    .q-tabs-estimates {
      margin-left: 12px;
      .q-tab {
        position: relative;
        margin-left: -10px;
      }
    }
  }
  .estimates-table-container {
    padding-top: 19px;
    margin-bottom: 62px;
  }
  .prev-list {
    margin-top: 60px;
  }

  @media (max-width: 772px) {
    .info {
      padding-top: 29px;
      padding-bottom: 18px;
      .desc {
        font-size: 16px;
      }
      .action {
        font-size: 16px;
      }
    }
    .sectiobn-btns {
      margin-top: 30px;
      padding-bottom: 31px;
      border-bottom: 1px solid #f0f0f0;
      .q-btn {
        padding: 8px 20px 8px 18px !important;
      }
    }
    .smeta-section {
      padding: 11px 0 13px 0;
      .title {
        min-width: 100%;
      }
      .q-btn {
        padding: 5px 12px !important;
        margin: 0 !important;
        margin-top: 12px !important;
        margin-right: 3px !important;
        &:last-child {
          margin-right: 0 !important;
        }
        .block {
          font-size: 13px !important;
          line-height: 13px !important;
        }
      }
      .subtitle {
        display: none;
      }
      .status {
        margin-right: 23px;
        margin-bottom: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .estimates-info {
      margin-top: 16px;
      .title {
        font-size: 16px;
        line-height: 16px;
      }
      .toggle-small {
        margin-left: 6px;
        margin-right: 5px;
      }
    }
    .estimates-table-container {
      padding-top: 19px;
      margin-bottom: 32px;
    }
    .prev-list {
      margin-top: 0px;
      padding-top: 20px;
      .q-btn {
        padding: 12.5px 17px 12.5px 20px !important;
      }
    }
  }
}

.page-estimates-single {
  .toggle-small {
    transform: rotate(180deg);
  }
  .toggle-small .q-toggle__inner--falsy .q-toggle__track {
    opacity: 1 !important;
  }
  .toggle-small .q-toggle__inner--falsy .q-toggle__thumb:after {
    opacity: 1;
    background: $primary;
  }
}