.page-projects {
  .sorted {
    display: none;
  }
  @media (max-width: 772px) {
    .head-btns {
      display: flex;
      flex: 0 0 100%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 25.5px;
      .q-btn {
        padding: 9px 26px;
        &:last-child {
          margin-left: 0;
          padding-left: 18px;
          .q-icon {
            margin-right: 9px;
          }
        }
      }
    }
    .sorted {
      display: inherit;
      .sorted-btns {
        margin-right: 0;
      }
    }
  }
  
}
